body {
  margin: 0 50px 0 50px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: #146eb4;
  font-family: "Audiowide", sans-serif;
}

header img {
  width: 50px;
}

header .profile {
  display: flex;
  align-items: center;
}

header .profile .message {
  margin-right: 5px;
}

.scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 20px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.item {
  flex: 0 0 auto;
}

.item img {
  width: 200px;
  height: auto;
}

.item:focus {
  transform: scale(1.1);
  transition: all 0.2s ease;
} 

video { 
  display: none;
  background: #1e2327; border-radius: 4px; width: 100%; 
}

*:focus {
  color: #146eb4;
}